body #root .bottombar{
    /* position: fixed; */
    /* left: 0;
    top: 0; */
    display: flex;
    gap: 10px;
    height: 50px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    /* border-radius: 10px 10px 0 0; */
    background-color: var(--bg-light);
    border: 0;
    box-shadow: var(--shadow);
    flex-direction: row;
    padding: 5px 5px;
    /* gap: 7vw; */
    position: relative;
    z-index: 1000;
    box-shadow: 100px solid var(--bg-dark);
    box-sizing: border-box;
}

.bottombar a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000;
    width: 15vw;
}
.bottombar a:hover{
    background-color: #0000;
}

#root .bottombar-element .element-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 15px; */
    padding: 12px 20px;
    border-radius: 8px;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.2s;
}

#root .bottombar-element a .icon{
    min-height: 20px;
    min-width: 20px;
    /* box-shadow: var(--shadow); */
}

.shell {
  width: 100%;
  background-color: var(--bg);
  border-radius: 10px 10px 0 0;
  box-shadow: var(--shadow);
  overflow: hidden;               /* NECESARIO para ocultar contenido al cerrar */
  transition: max-height .1s ease-in;
}

/* Altura cuando está cerrado: solo header */
.shell.closed {
  max-height: 35px; 
}

/* Altura cuando está abierto: deja espacio suficiente para el terminal */
.shell.open {
  max-height: 500px; /* ajústalo a lo que necesites */
}

.shell-header {
  background-color: var(--highlight1);
  padding: 10px;
  cursor: pointer;
  color: #ddd;
}

/* Para tener efecto de aparecer deslizando */
.shell-content {
  padding: 15px 5px 10px 15px;
  opacity: 1;
  transform: translateY(0);
  transition: opacity .5s ease-out, transform .1s ease-out forwards;
}

.shell.closed .shell-content {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}


.shell-content .xterm-viewport::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}


/* @media (max-width: 768px) {
    .shell-content {
        animation: slideUp 0.35s ease-out;
    }

    .shell.closing, .closing .shell-content{
        animation: fadeOut .2s ease-out forwards;
    }

    .closing .shell-content{
        animation: slideDown .25s ease-in forwards;
    }

    .shell-content{
    }
} */
