.form-layout {
  position: fixed;
  width: 100%;
  height: 100%;
  /* background: #00000040; */
  z-index: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container.card {
  background-color: var(--bg);
}

/* .form-layout.closing .form-out {
} */

/* .form-layout.closing .form-container.card {
} */

.form-out{
  width: 100%;
  height: 100%;
  background: #00000040;
}


.form-container.card {
  position: fixed;
  max-width: 70%;
  height: 70%;
  padding: 50px 40px;
  animation: slideUp 0.3s ease-out;
  z-index: 200;
  overflow-y: hidden;
}

.requestForm{
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
}
.requestForm h2{
  text-align: left;

}
.requestForm-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  box-sizing: border-box;
  padding-top: 40px;
}

.formSection {
  display: flex;
  flex-direction: row;
  gap: 15px;
  box-sizing: border-box;
  width: 100%;
}

.requestForm button {
  background-color: var(--highlight1);
  color: white;
  padding: 20px 20px;
  line-height: 0;
}

.editForm button {
  background-color: var(--highlight1);
  color: var(--text-highlight2);
  color: white;
  padding: 18px 20px;
  line-height: 0;
  /* font-size: 11px; */
  /* font-weight: 500; */
}

.editForm button.status-button {
  border-radius: 100%;
  display: flex;
  padding: 5px;
}
.editForm .status-button .status-icon {
  width: 20px;
  height: 20px;
}


.editForm button.on {
  background-color: #51d29f;
}
.editForm button.off {
  background-color: #d36985;
}

.actionsForm button {
  background-color: var(--highlight1);
  background-color:#3a60ca;
  border-radius: 100%;
  padding: 20px;
}
.actionsForm button .icon {
  min-width: 30px;
  min-height: 30px;
  filter: invert(0.9);
}

.actionsForm button.green {
  background-color: #3aca91;
}
.actionsForm button.red {
  background-color:#ca3a5c;
}
.actionsForm button.blue {
  background-color:#3a60ca;
}

/* Fields */

.requiredMark {
  color: #ff6f6f;
  margin-left: 4px;
}
.requiredText {
  margin-left: 2px;
  color: #ff6f6f;
  font-size: 10px;
  font-weight: 500;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.customField {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
  /* margin-bottom: 15px; */
  width: 100%;
  box-sizing: border-box;
}

.customField-label {
  font-weight: 500;
  /* color: #333; */
  font-size: 14px;
}

.customInput,
.customSelect {
  text-align: left;
  padding: 10px 12px;
  /* border: 1px solid #ccc; */
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  transition: border-color 0.2s ease;
  width: 100%;
  box-sizing: border-box;
  line-height: 1;
}

.customInput:focus,
.customSelect:focus {
  /* border-width: 2px; */
  border-color: var(--highlight3);
  box-sizing: border-box;
}

.customInput::placeholder,
.customSelect.placeholder,
.customSelect:invalid {
  color: #888;
}

.light .customInput::placeholder,
.light .customSelect.placeholder,
.light .customSelect:invalid {
  color: #aaa;
  font-weight: 400;
}


@media (min-width: 769px) {
  .form-layout {
      animation: fadeIn 0.2s ease-in;
  }

  .form-container.card {
    animation: slideUp 0.35s ease-out;
  }

  .form-layout.closing .form-out {
    animation: fadeOut .2s ease-out forwards;
  }

  .form-layout.closing .form-container.card {
    animation: slideDown .25s ease-in forwards;
  }

  .form-out{
    animation: fadeIn 0.3s ease-in;
  }

}

@media (max-width: 768px) {
  .form-layout {
    align-items: end;
    /* z-index: 1000; */
  }

  .form-container {
    position: absolute;
    bottom: 50px;
  }

  .form-container.card {
    border-radius: 20px 20px 0px 0px;
    max-width: 100%;
    padding: 40px 30px;
    /* padding-bottom: 70px; */
  }

  .long-form .form-container.card {
    height: 70%;
    max-height: 70%;
  }
  .short-form .form-container.card {
    padding: 20px;
    height: 200px;
    max-height: 200px;
  }


  .form-container.card {
    animation: slideUp 0.15s ease-out;
  }

  .form-layout.closing .form-container.card {
    animation: slideDown .15s ease-in forwards;    
  }

}