.sidebar{
    /* position: fixed; */
    /* left: 0;
    top: 0; */
    height: 100%;
    display: flex;
    gap: 15px;

    background-color: var(--highlight1);
    border-right: 2px solid var(--border);
    box-shadow: var(--shadow);
    flex-direction: column;
    align-items: start;
    padding: 15px 10px;
    padding-top: 20px;
    box-sizing: border-box;
    z-index: 1000;
}

.sidebar a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.sidebar .burger-menu, .floating-sidebar .burger-menu{
    display: flex;
    margin-bottom: 20px;
    align-items: start;
    width: fit-content 
}



.floating-sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: clamp(200px, fit-content, 550px);
    max-width: 80vw;

    background-color: var(--highlight1);
    border-right: 2px solid var(--border);
    box-shadow: var(--shadow);

    flex-direction: column;
    align-items: center;
    gap: 10px;

    padding: 15px 20px;
    box-sizing: border-box;
    z-index: 1000;
    transform: translateX(-100%); 
    transition: transform 0.2s ease-in-out;
}
.floating-sidebar.open {
  transform: translateX(0); 
}

.close-sidebar-button {
    position: fixed;        
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: #00000040; 
    z-index: 900;
    opacity: 0;             
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;   
}

.floating-sidebar.open ~ .close-sidebar-button,
.close-sidebar-button.open {
  opacity: 1;
  pointer-events: auto;     
}

.floating-sidebar .elements {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}


.sidebar-element .element-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 12px 20px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.2s;
}



.sidebar img, .floating-sidebar img{
    width: 25px;
    height: 25px;
    object-fit: contain;
}


.content-container {
    min-height: 100vh;
    min-height: 100dvh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: start;
    background-color: var(--bg-dark);
    overflow-y: hidden;
}
