@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-main: "Roboto", sans-serif;

  --bg-dark: #17191E;
  --bg: hsl(247, 5%, 15%);
  --bg-light: hsl(247, 10%, 20%);
  --border: hsl(247, 5%, 20%);
  --border2: hsl(0 0 95%); 

  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0% 0.15);

  --text-main: hsl(0 0 80%);
  --text-sec: hsl(0 0 60%); 

  --highlight1: hsl(44.46, 92.05%, 70.39%);
  /* --highlight2: hsl(194, 92%, 70%); */
  
  --highlight1: #1D63ED;
  --highlight2: #1D63ED;
  --highlight2: #E5F2FC;
  --highlight3: hsl(135, 62%, 37%);

  --text-highlight: hsl(0 0 25%); 
  --text-highlight2: hsl(0 0 90%); 
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg-dark: #17191E;
    --bg: hsl(247, 5%, 15%);
    --bg-light: hsl(247, 10%, 20%);
    --border: hsl(247, 5%, 20%);

    --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0% 0.15);

    --text-main: hsl(0 0 80%);
    --text-sec: hsl(0 0 60%); 

    --highlight1: hsl(44.46, 92.05%, 70.39%);
    --highlight2: #1D63ED;
    --highlight1: #1D63ED;
    --highlight2: #E5F2FC;
    --highlight3: hsl(0, 86%, 75%);

    --text-highlight: hsl(0 0 25%);  
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-dark: #E5F2FC;
    --bg: hsl(0 0 95%);
    --bg-light: hsl(0 0 100%);
    --border: hsl(0, 0%, 80%, 30%);

    --text-main: hsl(0 0 20%);
    --text-sec: hsl(0 0 30%);

    /* --highlight1: hsl(35, 68%, 48%); */
    --highlight1: #1D63ED;
    --highlight2: #E5F2FC;
    --highlight3: hsl(135, 89%, 22%);

    --text-highlight: hsl(0 0 25%); 
}
}

body.dark {
  --bg-dark: #17191E;
  --bg: hsl(247, 5%, 15%);
  --bg-light: hsl(247, 10%, 20%);
  --border: hsl(247, 5%, 20%);

  /* --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07),  */
            /* 0px 4px 4px hsla(0, 0%, 0% 0.15); */

  --text-h1: hsl(0 0 90%);
  --text-main: hsl(0 0 80%);
  --text-sec: hsl(0 0 60%); 

  --highlight1: #1D63ED;
  --highlight2: #202735;
  --highlight3: #283359;
  --highlight4: #2a3589;
  --highlight1: #1D63ED;
  --highlight2: #292c35;
  --highlight3: #283359;
  --highlight4: #2a3589;

  --terminal: hsl(247, 5%, 15%);

  --text-highlight: hsl(0 0 25%); 
}

body.light {
  --bg-dark: #E5F2FC;
  --bg: hsl(0 0 95%);
  --bg-light: hsl(0 0 100%);
  --border: hsl(0, 0%, 80%, 30%);
  --border2: hsl(0 0 100%); 

  /* --shadow: 0px 2px 2px hsla(0, 46%, 47%, 0.625), 0px 4px 4px hsla(0, 32%, 47%, 0.748); */

  --text-h1: hsl(0 0 15%);
  --text-main: hsl(0 0 20%);
  --text-sec: hsl(0 0 30%);

  --highlight1: #1D63ED;
  --highlight2: #dee6ec;
  --highlight3: #a8b0e0;
  --highlight3: #c6d4f0;
  --highlight4: #a6bae1;

  --terminal: #292c35;

  --text-highlight: hsl(0 0 25%); 
}