.text-main {
    color: var(--text-main);
    font-weight: 600;
    display: block;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    padding: 20px;
    background-color: var(--bg);
    border: 2px solid var(--border);
    border-radius: 10px;
    box-shadow: var(--shadow);

}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    width: 100%;
    box-sizing: border-box;
}

.floating-panel {
    position: fixed;
    top: 0;
    z-index: 10;
}



.hl1 {
    background-color: var(--highlight1);
    color: var(--text-highlight2);
}
.hl2 {
    background-color: var(--highlight2);
    color: var(--text-highlight);
}
.hl3 {
    background-color: var(--highlight3);
    color: var(--text-highlight2);
}
.hl4 {
    background-color: var(--highlight3);
    color: var(--text-highlight2);
}


.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column-left{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.full-w {
    width: 100%;
}
.full-h {
    height: 100%;
}
.full-view {
    width: 100%;
    height: 100%;
}

.gap0 {
    gap: 0px;
}
.gap3 {
    gap: 3px;
}
.gap5 {
    gap: 5px;
}
.gap10 {
    gap: 10px;
}
.gap20 {
    gap: 20px;
}
.gap25 {
    gap: 25px;
}
.gap30 {
    gap: 30px;
}

.flex {
    display: flex;
}

.row-left {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.row-right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-self: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    justify-content: center;
}

.logo {
    margin-bottom: 3px;
    /* margin-left: 2px; */
    width: 30px;
    height: 30px;
    margin-right: 8px;
    position: relative;
    z-index: 1;
}

.light .icon {
    filter: invert(0.1);
}
.dark .icon {
    filter: invert(0.9);
}


@media (max-width: 768px) {
    div .gap20 {
        gap: 15px;
    }
}