@import url('./styles/normalize.css');
@import url('./styles/themes.css');
@import url('./styles/mobile.css');
@import url('./styles/authLayout.css');
@import url('./styles/users.css');


@import url('./styles/text.css');
@import url('./styles/ThemeSwitch.css');
@import url('./styles/sidebar.css');
@import url('./styles/bottombar.css');
@import url('./styles/form.css');
@import url('./styles/tables.css');


@import url('./styles/analysis/pieCharts.css');

div {
    border: 0;
    padding: 0;
}

/* html, body, #root, main */
html, body, #root, #root > div:has(.sidebar) {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}


.page-container{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: start;
    flex-direction: column;
    padding-left: 10px;
}

header{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px;
    padding-left: 25px;
}

body, main {
    display: flex;
    flex-direction: column;
    
    position: relative; 
    margin: 0;

    background-color: var(--bg-dark);
    font-family: var(--font-main);
    color: var(--text-sec);
    font-weight: 400;
    font-size: 14px;
    font-optical-sizing: auto;
}
#root {
    display: flex;
    flex-direction: row;
    align-items: start;
    background-color: var(--bg-light);
    overflow-y: hidden;
} 
#root > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    max-height: 97vh;
    background-color: var(--bg-dark);
    overflow-y: hidden;
}
.page-container {
    flex: 1;
    overflow-y: auto;
    align-items: center;
    gap: 10px;
    padding: 20px;
    /* width: clamp(390px, 85vw, 1000px); */
    width: 100%;
    padding: 0;
}
.page-content{
    padding-bottom: 10px;
    padding-left: 10px;
}


main {
    align-items: center;
    gap: 10px;
    padding: 0px 25px;
    /* width: clamp(390px, 85vw, 1000px); */
    width: 100%;
}

h1 {
    font-size: 18px;
}

/* a, buttom, input, select */
a, button, input, select, textarea, option {
    padding: 10px;
    border: none;
    /* border: 1px solid var(--border); */
    border-radius: 10px;
    margin: 0;
    line-height: 0;
    background-color: var(--bg-light);    
    color: var(--text-sec);

    cursor: pointer;
}
input, select{
    border: 1px solid var(--border);
}

a {
    text-decoration: none;
}
a, button{
    position: relative;
    overflow: hidden;        
    z-index: 0;     
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
}
a::before,
button::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  pointer-events: none;
  z-index: 1;
}

a:hover::before,
button:hover::before{
  background: rgba(125, 125, 125, 0.218);
}



input {
    padding: 3px;
    cursor: pointer;
    /* transition: background-color 0.3s; */
    line-height: 0;
    width: 50px;
    border-radius: 5px;
    text-align: center;
}

textarea {
    border-radius: 10px;
    width: 100%;
}
select {
  border-radius: 8px;
  padding: 8px 12px;
}
select::-webkit-scrollbar {
  width: 8px;
}
option {
    border: none;
    padding: 8px 12px;
    background-color: var(--bg-light); 
    color: text(--text-sec)   
}
option:hover {
  background-color: #e6f0ff;
}

/* Text */
label, p {
    text-align: justify;
}

ul, ol {
  list-style-position: inside;
  padding-left: 1em;
  margin: 0;        
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/*  */
hr {
    margin: 5px 20px;
    border: 0.5px solid #fff3;
}
.light hr {
    border: 0.5px solid #0003;
}

/* multimedia */
video {
    border-radius: 10px;
}


/* ScrollBar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}  
::-webkit-scrollbar-track {
    background: var(--bg-dark);
}
::-webkit-scrollbar-thumb {
    background: var(--bg-light);
    border-radius: 10px;
    box-shadow: var(--shadow);
    border: 1px solid var(--border);
} 
::-webkit-scrollbar-thumb:hover {
    background: var(--bg-light);
    box-shadow: var(--shadow);
    border: 1px solid var(--border);
}

/* Vertical */
@media (min-width: 768px) {
   #root > div > div {
        height: 100vh;
    }
}

@media (max-width: 768px) {
    ::-webkit-scrollbar {
        display:none;
    }
    html body{
        height: 90vh;
    }
    html body, body main{
        font-size: 12px;
    } 
    body main {
        padding: 0px 15px;
    }
    body header{
        padding: 15px 15px;
        padding-bottom: 25px;
    }
    body header select {
        height: 30px;
        padding: 0px 6px;
    }

}

